body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background: repeat y;
	background-image: url("images/right_im.jpg");
    background-repeat: repeat-y;
	background-attachment: scroll;
}
#wrapper {
	background-color: #F4F4F4;
	text-align: left;
	padding: 0px;
	height: auto;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	height: 148px;
	background-image: url(images/header.jpg);
}
#navigation {
	background-color: #6C6;
	margin: 0px;
	padding: 0px;
	height: 34px;
}
#sidebar {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 234px;
	width: 439px;
	background-image: url(images/sidebar.jpg);
}
#content {
	background-color: f9fafa;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 234px;
	width: 510px;
	color: #9f9;
}
#rightbar {
	background-color: #FFF;
	height: 234px;
	width: 75px;
	margin: 0px;
	padding: 0px;
	float: left;
	background-image: url(images/rightbar.jpg);
}
#divider {
	background-color: #96F;
	margin: 0px;
	padding: 0px;
	clear: left;
	height: 30px;
}
#divider {
	background-color: #F0F0F0;
	margin: 0px;
	padding: 0px;
	height: 30px;
	background-image: url(images/divider.jpg);
}

#left_im {
	background-color: #ECEDEF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 270px;
	width: 90px;
	background-image: url("images/left_im.jpg");
	background-repeat: repeat-y;
	background-attachment: scroll;

}
#info1 {
	background-color: #ecedef;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 336px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #C7C5C6;
	border-right-color: #C7C5C6;
	border-bottom-color: #C7C5C6;
	border-left-color: #C7C5C6;
	font: open sans;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	margin-right: 14px;
}
.DotPointLight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
}

#vertical {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 270px;
	width: 13px;
	background-image: url("images/vertical.jpg");
	background-repeat: repeat-y;
	background-attachment: scroll;
}
#info2 {
	background-color: #ecedef;
	margin: 0px;
	padding: 0px;
	float: left;
	height: auto;
	width: 508px;
	font: impact;
	font-size: 28px;
	color: #BD1522;
}
#right_im {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 270px;
	width: 77px;
	background-image: url("images/right_im.jpg");
    background-repeat: repeat-y;
	background-attachment: scroll;
	}


#footer {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 52px;
	width: 1024px;
	background-repeat: no-repeat;
}
#navigation_im {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 512px;
	background-image: url(images/navigation.jpg);
}
#btn01 {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 85px;
	background-image: url(images/btn01.jpg);
}
#btn02 {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 86px;
	background-image: url(images/btn02.jpg);
}
#btn03 {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 85px;
	background-image: url(images/btn03.jpg);
}
#btn04 {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 85px;
	background-image: url(images/btn04.jpg);
}
#btn05 {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 34px;
	width: 171px;
	background-image: url(images/btn05.jpg);

}

#content h1 {
	font-size: 24px;
	font-family: "impact";
	color: #BD1522;
	margin-left: 25px;
	margin-top: 25px;
}
#footertext {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	margin-top: 200px;
	background-position: center;
	font-size: 14px;
	text-align: center;
	margin-left: 400px;
}


#content p {
	font-size: 16px;
	font-family: arial;
	color: #333;
	margin-left: 25px;
	margin-top: 25px;
	margin-right:28px;
}

h1 {
	font-size: 25px;
	font-family: Impact;
	color: #BD1522;
	margin-left: 25px;
	margin-top: 25px;
}
h3 {
	font-size: 18px;
	font-family: arial;
	color: #333;
	margin-left: 25px;
	margin-top: 25px;
}
#wrapper #footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	word-spacing: normal;
	bottom: auto;
	border-width: 20px;
	font-size: 11px;
	height: inherit;
	margin-top: 40px;
}
