.home {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #fff;
	background-image:url('/images/bghome.gif');
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
}
.mission {
	background-color: #e3e8f1;
}

.services {
	background-color: #e4e4e4;
}

.contact {
	background-color: #366ec6;
	color: white;
	text-align: center;
}

.textMedium {
	font-size: 14pt;
	font-weight: normal;
}

.textBig {
	font-size: 18pt;
}

a:hover.contact,
a:visited.contact,
a:active.contact,
a:link.contact
{
    color: white;
}

h1 {
	color: #366ec6;
}

h3 {
	color: #11284c;
}

.services-box {
	position: relative;
	background-color: #11284c;
	color: white;
	font-weight: bold;
	text-align:center;
	height: 100px;
	margin: 10px;
	cursor: pointer;
}
.services-box:hover { background-color: #4f8dee; }

.vcenter {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.popover{
    max-width: 200px;
}
